@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F8F9FA;
  color: #1F2937;
}
#tasklist::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: #CBD5E1;
  border-radius: 50px;
}